section {
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 16px;
}

label[name="state"] {}

.form>label {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

input[name=delay] {
    border: 1px solid #808080;
    border-radius: 4px;
    height: 40px;
    width: 360px;
    box-sizing: border-box;
}

input[name=delay]:hover {
    border: 1px solid #000;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    width: 360px;
    margin: 10px 0;
    padding: 0 0 12px 10px;
    box-sizing: border-box;
}

fieldset:hover {
    border: 1px solid #000;
}

.form>button {
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.form>button:hover {
    background: #6c8cff;
}